/* img{
    width:75px;
    height:70px;
    */
 /* display: inline-block; */
 /*  display: block;*/
 /* margin-left: auto;
  margin-right: auto;
  width: 50%;
    
    text-align: center;
   border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
 
}
*/ 
body{
    background-color:  #e6e6e6;
}
img{
    

    width: 10%;
    height:55px;
 
  display: block;
  position: absolute;
  left: calc((100% - 195px) / 2);
  
    
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
 
  margin-left: auto;
  margin-right: auto;
  
}